<div class="subjects1">
    <div class="abc">
      <!-- <div class="about">
        <div class="item" style="font-weight: bold;">StudentId</div>
        <div class="item">{{student['rollNumber']}}</div>
        <div class="item" style="font-weight: bold;">StudentName</div>
        <div class="item">{{student['name']}}</div>
        <div class="item" style="font-weight: bold;">Course</div>
        <div class="item">B.TECH</div>
        <div class="item" style="font-weight: bold;">Brancn</div>
        <div class="item">{{course['name']}}</div>
      </div> -->
      <table>
        <tbody>
          <tr>
            <td class="data1">StudentId</td>
            <td class="data">{{student['rollNumber']}}</td>
          </tr>
          <tr>
            <td class="data1">StudentName</td>
            <td class="data">{{student['name']}}</td>
          </tr>
          <tr>
            <td class="data1">Course</td>
            <td class="data">B.TECH</td>
          </tr>
          <tr>
            <td class="data1">Branch</td>
            <td class="data">{{course['name']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    &nbsp;
    <div class="xyz">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="registeredSubjects">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.subjectName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Subject Code </th>
            <td mat-cell *matCellDef="let element"> {{element.subjectCode}} </td>
          </ng-container>
      
          <ng-container matColumnDef="semester">
            <th mat-header-cell *matHeaderCellDef> Semester </th>
            <td mat-cell *matCellDef="let element"> {{element.semester}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div> 
    </div> 
</div>

