.subjects1{
    padding: 20px;
}

.about{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(121, 117, 117);
    width: 80%;
}

.mat-elevation-z8{
    width: 70%;
}

p{
    margin-bottom: 0px;
}

.xyz{
    display: flex;
    justify-content: center;
}

.abc{
    display: flex;
    justify-content: center;
}

table{
    border: 2px solid #ddd;
    border-collapse: collapse;
    width: 75%;
}

.data{
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
    padding: 10px;
}

.data1{
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
    padding: 10px;
    font-weight: bold;
    width: 30%;
}

