<nav class="navbar navbar-default" style="background-color: F9FAFC;">
    <div class="heading" style="margin-left: 3%;margin-right: 3%;">
        <p class="navbar-brand" style="color: black;"><i class="bi bi-mortarboard-fill"></i>&nbsp; <span style="color: rgb(44, 44, 119);font-weight: bold;">College Management</span></p>
        <div class="logins">
            <p (click)="StudentLogin()" style="cursor: pointer;">Student Login</p>
            <p (click)="StaffLogin()" style="cursor: pointer;">Staff Login</p>
            <p (click)="AdminLogin()" style="cursor: pointer;">Admin Login</p>
        </div>         
    </div>
</nav>
