<div class="studentHome">
    <div class="brief">
        <a class="list-group-item" style="background-color: rgba(23, 162, 183, 1);">
            <p>Total Subjects</p>
        </a>
        <a class="list-group-item" style="background-color: rgba(39, 168, 68, 1);">
            <div>                
                <p>Total Leaves Taken</p>
            </div>
        </a>
        <a class="list-group-item" style="background-color: rgba(254, 193, 7, 1);">
            <p>Total Subjects</p>
        </a>
        <a class="list-group-item" style="background-color: rgba(220, 53, 70, 1);" (click)="onSubjects()">
            <p>Total Subjects</p>
        </a>
    </div>
    <div>

    </div>
</div>
