<div class="attendence">
    <div class="content">
        <div class="date1">
            <label for="date">Select Date:</label>
            <input id="date" class="form-control" type="date">
        </div>
        <div class="table1">
            <div class="header1">
                <p style="font-size: 20px;font-weight: bold;">Students List</p>
            </div>
            &nbsp;
            <div class="xyz">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="students">
                        <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="rollNumber">
                        <th mat-header-cell *matHeaderCellDef> Roll Number </th>
                        <td mat-cell *matCellDef="let element"> {{element.rollNumber}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef> Subject Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.subjectName}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="course">
                        <th mat-header-cell *matHeaderCellDef> Course </th>
                        <td mat-cell *matCellDef="let element"> {{element.course}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="semester">
                        <th mat-header-cell *matHeaderCellDef> Semester </th>
                        <td mat-cell *matCellDef="let element"> {{element.semester}} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="buttons">
                                    <button class="btn-save" (click)="markPresent(element)">Present</button>
                                    <button class="btn-cancel" (click)="markAbsent(element)">Absent</button>
                                </div>
                            </td>
                        </ng-container>
                
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>  
    </div>  
</div>