<div>
    <div class="college">
        <img src="https://www.nitt.edu/home/about/High-Resolution-Emblem.png">
        <p style="font-size: 30px;justify-content: baseline;">NITT</p>
    </div>
    <hr>
    <div class="name">
        <p style="font-size: 20px;"><i class="bi bi-person-circle"></i>&nbsp; {{admin['name']}}</p>
    </div>
    <hr>
    <div class="menu">
        <p (click)="onHome()"><i class="bi bi-house-door-fill"></i>&nbsp; Home</p>
        <p><i class="bi bi-person-plus-fill"></i>&nbsp; Add Staff</p>
        <p><i class="bi bi-person-plus-fill"></i>&nbsp; Add Student</p>
        <p (click)="AddCourse()"><i class="bi bi-book-fill"></i>&nbsp; Add Course</p>
        <p><i class="bi bi-book-fill"></i>&nbsp; Add Subject</p>
        <p (click)="onAttendence()"><i class="bi bi-calendar-check-fill"></i>&nbsp; View Attendence</p>
        <p (click)="onStaffLeave()"><i class="bi bi-backpack4-fill"></i>&nbsp; Staff Leave Requests</p>
        <p (click)="onStudentLeave()"><i class="bi bi-backpack4-fill"></i>&nbsp; Student Leave Requests</p>
        <p (click)="onLogout()"><i class="bi bi-box-arrow-in-right"></i>&nbsp; Logout</p>
    </div>
</div>
